body {
  height:100%;
  overflow:scroll;
  margin:0 auto;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table input {
	width:100px;
}

#wapper {
      margin: 0 0 ;
      height:500px;
      position:relative;
}

/*menu */
#menu {
	position:absolute;
	float:left;
	width:25%;
	margin-right:15px;
	top:0;	
}

#optinfo input{
	width:60px;
}

#optinfo lable{
	width:90px;
	margin-left:10px;
}

#baseinfo lable{
	margin-left:10px;
}

#devinfo {
	width:800px;
}

#navtree { 	
	height:490px;
}

#dialog-message {
    display: none	
}

#dialog-message span {
    float:left;
    margin:0 7px 50px 0;	
}

#dialog-message-failed {
    display: none	
}

#dialog-message-failed span {
    float:left; 
    margin:0 7px 50px 0;	
}
/*==========================*/

#content {
	position:absolute;
	top:0;
	left:26%;
}

#proTable_wrapper {
	width:95%;
}

#proTable_wrapper .row_selected {
	background-color:#cccccc;
}

#cnuTable {
	width:800px;
}

cnuTable td {
	text-align:center;
}

#f_Table {
	width:800px;
}

#f_Table td {
	text-align:center;
}

#s_Table {
	width:800px;
}

#s_Table {
	text-align:center;
}

#configinfo {
	float:left; 	
	width:800px;
}

#menuclear {
	clear:both;
}

#alarm {
}
