extends ../main.layout

block content
  script(type='text/javascript', src='/javascripts/result.js')
  div
    h1  
      label  搜索结果
  #result_list
    table#list
  
  div(id='dialog-dis-proc',title='搜索进度',style='display:none')
    img(src='http://localhost:8080/wen9000/images/loading.gif',style='margin-left:80px')
    br
    label#dis_proc(style='margin-left:100px')