script(type='text/javascript', src='/javascripts/alarm.js')
#alarm
  .demo
    #tabs.tabs-bottom
      ul
        li
          a(href='#tabs-1')  实时告警
        li
          a(href='#tabs-2')  历史告警
      #tabs-1
        #alarmHead
        #newAlarm 
      #tabs-2
        table#alarmtable
          p 
