extends main.layout

block content
  script(type='text/javascript', src='/javascripts/global_opt.js')
  h1
    label  全局配置
  h3  Trap Server配置

  p
    Trap Server是网管系统的核心部分，用于接收设备端发往网管的消息，例如:设备心跳消息，告警消息；如设置不正确，新设备的发现及所有设备的状态变迁，告警消息的接收功能将缺失!
  table
    tr
      td
        label  Trap Server IP: 
      td
        input(id='trap_server',type='text')
    tr
      td
        label  Trap Server Port:
      td 
        input(id='trap_serport',type='text')
      td
        p  端口号变更需重启网管生效!
  br
  button(id='btn_gsub')  提交
  br
  br
  h3  SysLog日志管理
  p  SysLog日志管理的功能是将头端的系统日志发向指定的日志服务器进行备份.
  table
    tr
      td
        label  SysLog Server Ip:
      td
        input(id='syslogip',type='text')
      td
        button(id='btn_gsyslog')  发送
  br
  h3  Redis数据库操作
  p  当启用HFC模式时，需要导入HFC设备数据库才能正常显示HFC设备的相关信息
  br
  button(id='btn_import')  导入HFC数据
  br
  br
  头端设备温度告警阀门设置：当头端温度大于
  input(id='tmpalarm',type='text')
  时，产生温度告警
  br
  button(id='btn_tmpsub')  提交 
  br
  p  本网管采用最新的Redis内存数据库优化数据存储效率，为了保证关键数据不丢失，建议关闭网管前点击保存按钮将内存中未存储的数据保存到硬盘。
  br
  button(id='btn_gsave')  保存 
  
  div(id='dialog-message-proc',title='正在导入',style='display:none')
    img(src='http://localhost:3000/images/loading.gif',style='margin-left:80px')
    br
    label#up_proc(style='margin-left:100px')  
