#header
  .top-bar 
    ul.topnav
      li 
        a(href='/')  首页
      li
        a(href='/opt/accounts') 设备管理
        ul.subnav
          li
            a(href='/dis/search') 设备发现
          li
            a(href='/opt/accounts') 批量配置
          li
            a(href='/') 设备预开户
          li
            a(href='/opt/updatecbat')  局端升级
      li
        a(href="/opt/global_opt")  全局配置 
        ul.subnav
          li 
            a(href="/opt/global_opt")  全局参数配置
      li
        a(href="/profilemanager") 模板管理
      li
        a(href="/historyalarm") 告警管理
      li
        a(href="/version")  版本信息