#header
  .top-bar 
    ul.topnav
      li 
        a(href='/')  首页
      li
        a(href='/opt/accounts') 设备管理
        ul.subnav
          li
            a(href='/dis/search') 设备发现
          li
            a(href='/opt/accounts') 批量配置
          li
            a(href='/opt/pre_config') 设备预开户
          li
            a(href='/opt/updatecbat')  局端升级
      li
        a(href="/global_opt")  全局配置 
      li
        a(href="/profilemanager") 模板管理
      li
        a(href="/historyalarm") 告警管理
        ul.subnav
          li
            a(href="/historyalarm") 历史告警
          li
            a(href="/alarmsetting") 告警配置
      li
        a(href="/version")  版本信息
    #logininfo(style='float:right;margin:8px 30px 8px 0px;color:white')
      lable  欢迎,
      a(id='loginuser',href="/userManager")
      lable  [
      a(id='logout',href="/login")  注销
      lable  ]