extends main.layout

block content
  h1  #{title}
  h3  产品特色
  .blockcode
    ol
      li  EoC网管系统采用 SNMP协议，符合广电标准
      li  Eoc网管系统支持国际化，支持中文，英文等多国语言！
      li  EOC+HFC 集成统一网络管理系统
      li  网络拓扑支持自动发现，和手动发现，拓扑图自动显示
      li  安装使用方便，无需客户端安装，使用Web浏览器便可使用
      li  基于Java开发，跨平台支持Windows,Linux等多个操作系统
      li  界面简洁美观，支持换肤功能
      li  系统安全可靠，支持7/24小时不间断运营
      li  无CNU数量限制,设计可支持100000+CNU同时在线
