script(type='text/javascript', src='/javascripts/menu.js')
#menu
  #navtree
  #dialog-message(title='提示')
    p
      span.ui-icon.ui-icon-circle-check
      \提示
    p  OK
  #dialog-message-failed(title='提示')
    p
      span.ui-icon.ui-icon-alert
      p  提示.
    p.
      操作失败.
      \请确认与设备通信是否正常!

  ul#myMenu(class='contextMenu')
    li.delete
      a(href='#delete')  删除