script(type='text/javascript', src='/javascripts/menu.js')
script(type='text/javascript', src='/javascripts/flotr2.min.js')
#sidebar
  #searchbar
    input(id='searchbox',type='text',placeholder='请输入MAC或IP查询')
    button(id='btn_search')  查询
  #menu
    #navtree
  #dialog-message(title='提示')
    p
      span.ui-icon.ui-icon-circle-check
      \提示
    p  OK
  #dialog-message-failed(title='提示')
    p
      span.ui-icon.ui-icon-alert
      p  提示.
    p.
      操作失败.
      \请确认参数值和通信是否正常!

  ul#myMenu(class='contextMenu')    
    li.add
      a(href='#createnode')  添加节点
    li.delete            
      a(href='#delete')  删除节点
    li.move
      a(href='#movenode')  移动节点
    li.edit
      a(href='#editnode')  编辑节点
    hr
    li.topology
      a(href='#topology')  网络拓扑
    li.toweb    	
      a(href='#toweb')  WEB网管
  
  #dialog-alarmThreshold(title='告警门限设置',style='display:none')
    table
      tr
        td
          lable  参数的HIHI门限
        td
          input(id='hihi',type='text',value='')  
      tr
        td
          lable  参数的HI门限
        td
          input(id='hi',type='text',value='')
      tr
        td
          lable  参数LO的门限
        td
          input(id='lo',type='text',value='')
      tr  
        td
          lable  参数LOLO的门限
        td
          input(id='lolo',type='text',value='')
      tr  
        td
          lable  参数的死区门限
        td
          input(id='deadb',type='text',value='')
  div(id='dialog_setvalue',title='设置参数值',style='display:none')
    lable  参数值:
    input(id='hfc_setval',type='text')
  div(id='dialog_movenode',title='移动节点',style='display:none;')
    lable  选择目标节点移动:
    div(style='overflow-y:scroll;height:430px')
      div(id='moveto_tree')
  div(id='dialog_editnode',title='编辑节点',style='display:none')
    lable  编辑节点:
    input(id='dg_editnode',type='text')
  div(id='dialog_addnode',title='添加节点',style='display:none')
    lable  添加节点:
    input(id='dg_addnode',type='text')    
  #dialog-devinfo(title='设备信息')
