
script(type='text/javascript', src='/javascripts/menu.js')
#menu
  #navtree
  #dialog-message
    title  INFO
    p
      span.ui-icon.ui-icon-circle-check
      \INFO.
    p  OK.
  #dialog-message-failed
    title  INFO
    p
      span.ui-icon.ui-icon-alert
      p  INFO.
    p.
      ERROR.
      ARE YOU SURE!
        
