extends main.layout

block content
  h1
    label  版本信息
  div(style='margin-left:30px')
    table
      tr
        td
          label  版本hash值：
        td        
          label  a3c7cd29939bc25534525783887c272120b5a98c
      tr
        td
          label  版本号:
        td
          label  v1.0.3
      tr
        td
          label  发布时间:
        td
          label  2012-7-3
      tr
        td
          label  版权所有:
        td
          label  杭州万隆光电设备有限公司
