extends main.layout

block content
  h1
    label  版本信息
  div(style='margin-left:30px')
    table
      tr
        td
          label  版本hash值：
        td        
          label  f2816287d851d0351a7df7007052009d40ad5e7c
      tr
        td
          label  版本号:
        td
          label  v1.1.11
      tr
        td
          label  发布时间:
        td
          label  2013-5-27
