extends main.layout

block content
  h1
    label  版本信息
  div(style='margin-left:30px')
    table
      tr
        td
          label  版本hash值：
        td        
          label  e2a68d2ed172ec7cda8a57d032fe1a1ed0357d5a
      tr
        td
          label  版本号:
        td
          label  v1.0.6
      tr
        td
          label  发布时间:
        td
          label  2012-7-20
      tr
        td
          label  版权所有:
        td
          label  杭州万隆光电设备有限公司
