extends main.layout

block content
  h1
    label  版本信息
  div(style='margin-left:30px')
    table
      tr
        td
          label  版本hash值：
        td        
          label  4af8c09b7477cf17aacd7b48c8a783928923d0ad
      tr
        td
          label  版本号:
        td
          label  v1.1.8
      tr
        td
          label  发布时间:
        td
          label  2013-5-26
