extends main.layout

block content
  h1
    label  版本信息
  div(style='margin-left:30px')
    table
      tr
        td
          label  版本hash值：
        td        
          label  43c8723ed2bd3b9f572901013522ccaa4099d8cf
      tr
        td
          label  版本号:
        td
          label  v1.0.9
      tr
        td
          label  发布时间:
        td
          label  2012-7-30