extends main.layout

block content
  h1
    label  版本信息
  div(style='margin-left:30px')
    table
      tr
        td
          label  版本hash值：
        td        
          label  7f5bcd277b49fc8870f7119465b578284d7dc258
      tr
        td
          label  版本号:
        td
          label  v1.1.19
      tr
        td
          label  发布时间:
        td
          label  2013-8-14
