extends main.layout

block content
  h1
    label  版本信息
  div(style='margin-left:30px')
    table
      tr
        td
          label  版本hash值：
        td        
          label  e6fbcdecba931106c8b6c7205e2cbf7ae6bb41f3
      tr
        td
          label  版本号:
        td
          label  v1.1.6
      tr
        td
          label  发布时间:
        td
          label  2013-4-18
