extends main.layout

block content
  h1
    label  版本信息
  div(style='margin-left:30px')
    table
      tr
        td
          label  版本hash值：
        td        
          label  cdc3ceabf0e480802b912b4972de31595cf7bca7
      tr
        td
          label  版本号:
        td
          label  v1.0.6
      tr
        td
          label  发布时间:
        td
          label  2012-7-26