extends main.layout

block content
  h1
    label  版本信息
  div(style='margin-left:30px')
    table
      tr
        td
          label  版本hash值：
        td        
          label  4f948bb512e95dbe9718dd82a4fbd68bd269b851
      tr
        td
          label  版本号:
        td
          label  v1.0.8
      tr
        td
          label  发布时间:
        td
          label  2012-7-27