extends main.layout

block content
  h1
    label  版本信息
  div(style='margin-left:30px')
    table
      tr
        td
          label  版本hash值：
        td        
          label  xxxxxxxxxx
      tr
        td
          label  版本号:
        td
          label  xxxxxx
      tr
        td
          label  发布时间:
        td
          label  xxxxx
      tr
        td
          label  版权所有:
        td
          label  杭州万隆光电设备有限公司
