#footer
  span
    label(style='margin-left:250px')
      \Copyright @ 2011 - 2012 <a href="http://www.prevail-catv.com/" title="PREVAIL">PREAIL</a>. All Rights Reserved. Powered By WordPress. Designed by <a href="http://www.prevail-catv.com/">EOC TEAM</a>
