extends main.layout

block content
  script(type='text/javascript', src='/javascripts/global_opt.js')
  h1
    label  Global config
  h3  Trap Server config

  p
    Trap Server is the heart part of the NMS, it receives message from device, e.g. message of device heartbeat, alarm information; If not set it correctly, so can not recevice the alarm and changes of status from new or old device!
  table
    tr
      td
        label  Trap Server IP: 
      td
        input(id='trap_server',type='text')
    tr
      td
        label  Trap Server Port:
      td 
        input(id='trap_serport',type='text')
      td
        p  Change the Port ID should restart the NMS!
  br
  button(id='btn_gsub')  Submit
  br
  br
  h3  Redis database operation
  p  This NMS use the newest Redis MMDB, Increase efficiency of data store. Please click the Save button for saving the data to hard disk, so that core data will not easy to lose.
  br
  button(id='btn_gsave')  Save 
