#header
  .top-bar 
    ul.topnav
      li 
        a(href='/')  Home
      li
        a(href='/opt/accounts') Device management
        ul.subnav
          li
            a(href='/dis/search') Device Discovery
          li
            a(href='/opt/accounts') Batch Config
          li
            a(href='/opt/pre_config') Device Pre-config
          li
            a(href='/opt/updatecbat')  Cbat Upgrade
      li
        a(href="/global_opt")  Global Config 
      li
        a(href="/profilemanager") Template Management
      li
        a(href="/historyalarm") Alarm Management
      li
        a(href="/version")  Version
    #logininfo(style='float:right;margin:8px 30px 8px 0px;color:white')
      lable  Welcome,
      a(id='loginuser',href="/userManager")
      lable  [
      a(id='logout',href="/login")  Log out
      lable  ]