extends main.layout

block content
  script(type='text/javascript', src='/javascripts/historyalarm.js')
  h1
    label  History alarm
  table#historyAlarm(style='width:96%')
  br
  br
  div(style='margin-right:10px;float:right')
    button#btn_pre(disabled='disable')  	Previous 
    label  from
    label#from  0
    label  trip to
    label#end
    label  trip
    label  /total
    label#total
    label  trip alarm  
    button#btn_next(disabled='disable')  Next