extends main.layout

block content
  h1  #{title}
  h3  Product features
  .blockcode
    ol
      li  EOC NMS use SNMP agreement, accord with the standard of SARFT 
      li  EOC NMS support internationalization , support Chinese, English etc.
      li  Manage the EOC and HFC together EOC+HFC 
      li  Surpporting the network topology autodiscovery and manual found, topology figure can automatic display
      li  Easy to install and use, just use WEB for the NMS
      li  Basing Java technology, support Linux and Windows system.
      li  The interface is concise and artistic, support the function of changing  skin
      li  The system is safe and reliable, support 7/24 hours running
      li  The number of CNU is not limited, can support more than 10000 CNU online at the same time