script(type='text/javascript', src='/javascripts/menu.js')
#menu
  #navtree
  #dialog-message(title='Prompt')
    p
      span.ui-icon.ui-icon-circle-check
      \Prompt
    p  OK
  #dialog-message-failed(title='Prompt')
    p
      span.ui-icon.ui-icon-alert
      p  Prompt.
    p.
      Operate fail.
      \Please make sure the connection is all right!

  ul#myMenu(class='contextMenu')
    li.delete
      a(href='#delete')  Delete