extends main.layout

block content
  h1
    label  Version
  div(style='margin-left:30px')
    table
      tr
        td
          label  Hash of Version：
        td        
          label  023d8a2f6071d8529c0094a1cc27be22d6226263
      tr
        td
          label  Version ID:
        td
          label  v1.0.0
      tr
        td
          label  Release time:
        td
          label  2012-6-18
      tr
        td
          label  Copyright:
        td
          label  Prevail.Hangzhou
