body {
	font-family: Arial;
	font-size: 12px;
}

.top-bar{
	width:100%;  
	margin:0 auto;
	position:relative;
	z-index: 5;
}

    ul.topnav {  
        list-style: none;  
        padding: 0 20px;  
        margin: 0;  
        float: left;  
        width: auto;  
        background: #222;  
        font-size: 1.2em;  
        background: url(../images/topnav_bg.gif) repeat-x;  
    }  
    ul.topnav li {  
        float: left;  
        margin: 0;  
        padding: 0 15px 0 0;  
        position: relative; /*--Declare X and Y axis base for sub navigation--*/  
    }  
    ul.topnav li a{  
        padding: 10px 5px;  
        color: #fff;  
        display: block;  
        text-decoration: none;  
        float: left;  
    }  
    ul.topnav li a:hover{  
        background: url(../images/topnav_hover.gif) no-repeat center top;  
    }  
    ul.topnav li span { /*--Drop down trigger styles--*/  
        width: 17px;  
        height: 35px;  
        float: left;  
        background: url(../images/subnav_btn.gif) no-repeat center top;  
    }  
    ul.topnav li span.subhover {background-position: center bottombottom; cursor: pointer;} /*--Hover effect for trigger--*/  
    ul.topnav li ul.subnav {  
        list-style: none;  
        position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/  
        left: 0; top: 35px;  
        background: #333;  
        margin: 0; padding: 0;  
        display: none;  
        float: left;  
        width: 170px;  
        border: 1px solid #111;  
    }  
    ul.topnav li ul.subnav li{  
        margin: 0; padding: 0;  
        border-top: 1px solid #252525; /*--Create bevel effect--*/  
        border-bottom: 1px solid #444; /*--Create bevel effect--*/  
        clear: both;  
        width: 170px;  
    }  
    html ul.topnav li ul.subnav li a {  
        float: left;  
        width: 145px;  
        background: #333 url(../images/dropdown_linkbg.gif) no-repeat 10px center;  
        padding-left: 20px;  
    }  
    html ul.topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--*/  
        background: #222 url(../images/dropdown_linkbg.gif) no-repeat 10px center;  
    }  

#header {
	background-color: #222;
	background: url(../images/topnav_bg.gif) repeat-x; 
	display: block;
    height: 36px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

#logo{
	float:left;	
}

#userinfo{
	display:block;
	background: #222; 
	background: url(../images/topnav_bg.gif) repeat-x; 
	float:right;	
	color: #fff;   
    text-decoration: none;
    margin-right: 15px;
}
	
#wrapper {	
	width:100%;
	min-width: 800px;	
	min-height:450px;
	/* fix max-width incompatibility in IE6 */
	width:expression(document.body.clientWidth > 800? "800px": "auto" );
	
	overflow:scoller;
	display:block;
}

#main {
	margin-top:40px;
	overflow:hidden;
	display:box;
	min-height:500px;
	border-top:medium  solid #dddddd;
	border-left:medium  solid #dddddd;
	padding:0px 0px 0px 10px;
}

#menu {
	margin-top:40px;
	float:left;  	
	width:320px;
	margin-right:15px;
}

#navtree { 	
	height:450px;
}

	
#footer {
	display: block;
	width: 100%;
	background:#fff;
	border:none;
	margin-top:15px;
	border-top:1px solid #999999;
}

#footer p {
	text-align:center;
}

#footer a:link {color: #7db223;}


h6 {
	height:30px;
	margin:0px 0px 0px -10px;
	color: #0073ea;
	padding: 4px 10px;
	text-decoration: none;
	line-height:30px;
	font-family: Helvetica, Arial, sans-serif; font-size: 1.6em;
	background: #dddddd; font-weight: bold;	
}


#result_list {
    display:none;
}

#pb_bar {
	margin: 100px auto auto 200px;
	width: 240px;
	height: 100px;
}

#spaceused1 {
	margin-right: 5px;
	top: 50%;
	position: relative;
}

#baseinfo lable {
	margin-left: 60px;	
	
}

#optinfo lable {
	margin-left: 40px;	
	font-family: Arial;
	font-size: 12px;
}