/*******************************************************************************
 * Sample for a Dynatree custom stylesheet.
 * This is expected to be included after the standard ui.dynatree.css, thus
 * overridung the defaults. 
 */
.dynatree-has-children span.dynatree-icon
{
    background-position: 0 0;
	background-image: url("../css/images/doc_with_children.gif");
}


/*******************************************************************************
 * Node titles
 */

span.dynatree-has-children a
{
	font-style: oblique;
}

span.dynatree-selected a
{
	color: green;
	font-style: italic;
}

span.dynatree-active a,
span.dynatree-active a:hover
{
	border: 1px solid maroon;
	background-color: #FAD8F0 !important; /* reddish */
}


/*******************************************************************************
 * Custom node classes (sample)
 */

span.custom1 a
{
	background-color: #ffffbb;
	color: maroon;
}
span.dynatree-exp-c span.dynatree-icon,
span.dynatree-exp-cl span.dynatree-icon
{
    background-position: 0 0;
	background-image: url("../css/images/folder_docs.gif");
}

span.custom2 a
{
	font-weight: bold;
	background-color: silver;
	color: navy;
}
span.dynatree-folder span.dynatree-icon
{
    background-position: 0 0;
	background-image: url("../css/images/folder_page.gif");
}
