!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/login.css')

  body
    .wrap
      form(action='/login', method='post')
        section(class='loginForm')
          header
            h1  ERROR
          .loginForm_conten
            br
          
            lable(style='margin-left:50px;color:red;font-size:1.2em')  User name does not exist!!!
            br
            br        
            br
            br    
            a(href='/login',style='margin-left:50px;font-size:1.1em')  Back
            a(href='/register', style='margin-left:150px;font-size:1.1em')  Register
              
