!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/login.css')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/javascripts/jquery-1.7.2.min.js')
    script(type='text/javascript', src='/javascripts/jquery-ui-1.8.19.custom.min.js')
    script(type='text/javascript', src='/javascripts/login.js')

  body
    .m_core
      .img_logo
        img(src='http://localhost:3000/images/logo.png')
      .wrap
        form(action='/login', method='post')
          section(class='loginForm')
            header
              h1  Log in
            .loginForm_content
              fieldset
                .inputWrap
                  input(type='text',id='userName',name='userName',placeholder='Please input user name')
                .inputWrap
                  input(type='password',id='password',name='password',placeholder='Please input password')
              fieldset
                input(type='checkbox',id='remember')
                span  Remember
              fieldset
                input(id='btn_sub',type='submit', value='Log in')
