extends main.layout

block content
  script(type='text/javascript', src='/javascripts/userManager.js')
  h1
    label  User management
  #usercontent
  
  #pwdmodify(title='Modify password',style='display:none')
    table
      tr
        td
          lable  Old password:
        td
          input(type='password',id='old_pwd')
      tr
        td
          lable  New password:
        td
          input(type='password',id='new_pwd')
      tr
        td
          lable  Confirm password:
        td
          input(type='password',id='rep_pwd')  
  #dialog-user-create(title='Create user',style='display:none')
    table
      tr
        td
          lable  User name:
        td
          input(type='text',id='name')
      tr
        td
          lable  Password:
        td
          input(type='password',id='password')
      tr
        td
          lable   Authority
        td
          select(id='flag')
            option(value='1')  Admin
            option(value='2')  Normal
            option(value='3')  Read-only                                     