extends main.layout

block content
  h1
    label  Version
  div(style='margin-left:30px')
    table
      tr
        td
          label  Hash of Version:
        td        
          label  22e8ef88f759aefd78ed1b50dcb299e3086c288f
      tr
        td
          label  Version ID:
        td
          label  v1.1.14
      tr
        td
          label  Release time:
        td
          label  2013-7-10
