extends main.layout

block content
  h1
    label  Version
  div(style='margin-left:30px')
    table
      tr
        td
          label  Hash of Version:
        td        
          label  66d8095fb2847674dcb471036b130b23d6f04ad6
      tr
        td
          label  Version ID:
        td
          label  v1.1.5
      tr
        td
          label  Release time:
        td
          label  2013-2-1