extends ../main.layout

block content
  script(type='text/javascript', src='/javascripts/accounts.js')
  div
    h1  
      label  Batch config
    table#cnuTable(style='width:100%')
  br
  br
  br
  div
    input(type='checkbox',id='checkall',style='margin-left:50px')
    |  Select array 
    button(id='btn_acount',style='float:right')  Next
  div(id='dialog-message-acount-failed',title='Prompt',style='display:none')
    p
      span.ui-icon.ui-icon-alert(style='float:left; margin:0 7px 50px 0;')
      p  Prompt.
    p.
      Operate fail.
      Please choose the device then do the correlation operation!
