extends ../main.layout

block content
  script(type='text/javascript', src='/javascripts/confirm.js')
  h1
    label  Confirm
  h3  The selected CNU
  #selcnus
  table#conTable
  #profile_info
  br
  div
    button(id='btn_pre',style='float:left')  Back
    button(id='btn_ok',style='margin-left:300px')  Submit
  div(id='dialog-confirm-warm',title='Prompt',style='display: none')
    p
      span.ui-icon.ui-icon-alert(style='float:left; margin:0 7px 50px 0;')
      p  Prompt.
    p.
      Config multiple CNU at the same time, it will takes long time, please wait!
    img(src='http://localhost:3000/images/loading.gif',style='margin-left:80px')
    br
    label#p_proc(style='margin-left:100px') 
