extends ../main.layout

block content
  script(type='text/javascript', src='/javascripts/updatecbat.js')
  h1
    label  Cbat upgrade
    img(id='showproc',src='http://localhost:3000/images/show.png',style='margin-left:30px')
  div
    table#upcbat_table
  br
  button(id='refresh')  Refresh
  br
  h3  FTP Server
  hr
  #ftpinfo(style='float:left')  
    table
      tr
        td
          label  Server IP:
        td
          input(type='text',id='serverip',pattern="([\\d]{1,3}\\.){3}[\\d]{1,3}",value='192.168.1.252')
      tr
        td
          label  Server Port:
        td
          input(type='text',id='serverport',value='21')
      tr
        td
          label  User name:
        td
          input(type='text',id='username',value='anonymous')
      tr
        td
          label  Password:
        td
          input(type='text',id='password')
    br
    button(id='ftp_connect',style='float:right')  Get file list
  #choosefile(style='margin-left:300px;display:none')
    label  Choose upgrade file:
    select#combox_files
    br
    button(id='btn_update',style='margin-top:105px;margin-left:150px')  Starting

  div(id='dialog-message-ftp-failed',title='Prompt',style='display:none')
    p
      span.ui-icon.ui-icon-alert(style='float:left; margin:0 7px 50px 0;')
      p  Prompt
    p.
      Get file list fail!
                                                                                                                                                                  
  
  div(id='dialog-message-proc',title='Progress',style='display:none')
    img(src='http://localhost:3000/images/loading.gif',style='margin-left:80px')
    br
    label#up_proc(style='margin-left:70px')                 