extends ../main.layout

block content
  script(type='text/javascript', src='/javascripts/pre_config.js')
  h1
    label  Device pre-config
  div(style='position:relative;width:800px;min-height:100px')
    div(style='border-style:dotted;border-width:1px;position:absolute;float:left;width:50%;max-height:180px;overflow:auto')
      label  Please choose the add model:
      input(type='radio',id='one',class='smodal',name='choose',value='')
      |  Single add 
      input(type='radio',id='batch',class='smodal',name='choose',value='')
      |  Batch add
      br
      #pre_content(style='margin:5px 0 5px 30px')
    div(style='position:absolute;left:51%')
      label  Please choose one template:
      select#combox_profiles
      
    div(style='clear:both')
  button(id='btn_presub',style='')  Add
  br
  br
  h3(style='margin-left:320px')  Pre-config list
  table#precnus(style='width:700px')
  div(id='dialog-message-preconfig-failed',title='Pre-config fail',style='display:none')
    p
      span.ui-icon.ui-icon-alert(style='float:left; margin:0 7px 50px 0;')
      p  Pre-config ERROR
    #errorinfo