extends ../main.layout

block content
  script(type='text/javascript', src='/javascripts/config_results.js')
  div  
    h1  结果查询
  h3(style='color:green')  配置成功的设备
  #success_cnus
    table#s_Table
  br
  h3(style='color:green')  配置失败的设备
  #failed_cnus
    table#f_Table

