extends ../main.layout

block content
  script(type='text/javascript', src='/javascripts/selectprofiles.js')
  h1  选择配置模板
  br
  label  请选择一条配置模板:
  select#combox_profiles
  #profile_info
  div
    button(id='btn_pre',style='float:left')  上一步
